<!DOCTYPE html>
<html lang="es">
<head>
    <head>
    <meta charset="UTF-8"/>
    <title>Formulario de roles</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/formulario_roles.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
</head>
<body>

    <div class="roles" action="{{ url_for('guardar_rol') }}" method="POST">
        <h1>Registro Roles</h1>
        <form class="roles">

            <label for="Nombre">Nombre del rol</label>
            <input type="text" id="Nombre" name="Name" required/>

            <label for="Descripcion">Descripción del rol</label>
            <input type="text" id="Descripcion" name="Descripcion" required/>

            <label for="Fecha_Creacion">Fecha de creación:</label>
            <span>{{ rol.Fecha_Creacion if rol else fecha_actual}}</span>

            {% if not rol %}
            <input type="hidden" name="Fecha_Creacion" value="{{ fecha_actual}} ">
            {% endif}

            

            <label for="Fecha_Actualizacion">Fecha de actualización</label>
            <input type="date" id="Fecha_Actualizacion" name="Fecha_Actualizacion" required/>

            <button type="submit">Guardar Rol</button>

        </form>
    </div>
    
</body>
</html>