<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8"/>
    <title>Formulario de roles</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/formulario_roles.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
</head>
<body>

    <div class="roles">
        <h1>Registro Roles</h1>
        <form action="{{ url_for('guardar_rol') }}" method="POST">

            <label for="Nombre">Nombre del rol</label>
            <input type="text" id="Nombre" name="Nonbre" required/>

            <label for="Descripcion">Descripción del rol</label>
            <input type="text" id="Descripcion" name="Descripcion" required/>

            <label for="fecha_creacion">Fecha de Registro:</label>
            <input type="text" id="fecha_creacion" value="{{ fecha_actual }}" readonly />

            <button type="submit">Guardar Rol</button>
        </form>
    </div>
    
</body>
</html>
