<nav class="main-nav">
    <ul class="nav-menu">
        <li>
            <a href="{{ url_for('gestion_reservaciones') }}" class="nav-link">
                <i class="fas fa-calendar-alt"></i> Gestión de Reservaciones
            </a>
        </li>
        <li>
            <a href="{{ url_for('formulario_restaurante') }}" class="nav-link">
                <i class="fas fa-utensils"></i> Formulario de Restaurante
            </a>
        </li>
        <li>
            <a href="{{ url_for('formulario_empleado') }}" class="nav-link">
                <i class="fas fa-user-tie"></i> Formulario de Empleados
            </a>
        </li>
        <li>
            <a href="{{ url_for('gestion_restaurante') }}" class="nav-link">
                <i class="fas fa-chart-bar"></i> Gestión de Restaurantes
            </a>
        </li>
        <li>
            <a href="{{ url_for('formulario_sucursales') }}" class="nav-link">
                <i class="fas fa-store"></i> Formulario de Sucursales
            </a>
        </li>
    </ul>
</nav>